<!-- Home Section -->
<section id="home" class="home-section">
  <div class="container"><div class="row">
    <div class="center hero-unit">
      <h1>Рейтинг разработчиков на GitHub</h1>
      <h2>
        Сайт предоставляет возможность ввести имя пользователя GitHub,
        собрать по нему различную статистику и построить рейтинги
        на основе собранных данных.
      </h2>
      <%= link_to "Добавить пользователя!", '#adduser', class: "btn btn-large btn-primary" %>
    </div>
  </div></div>
</section>