<!-- Home Section -->
<section id="home" class="home-section">
  <div class="container d-flex justify-content-center">
    <div class="col-10">
      <h1>GitHub Developer Rating</h1>
      <h2>
        The site provides an opportunity to collect statistic and build rating tables for GitHub developers.
      </h2>
      <%= link_to "Add GitHub Account", '#adduser', class: "btn btn-large btn-primary" %>
    </div>
  </div>
</section>