section.home-section id="home"
  .container.d-flex.justify-content-center
    .col-10
      h1 GitHub Developer Rating
      h2 The site provides an opportunity to collect statistic and build rating tables for GitHub developers.
      = link_to "Add GitHub Account", '#adduser', class: "btn btn-large btn-primary"