<table class="table status-table">
    <thead>
        <tr>
          <% ['№', 'Имя пользователя', 'Рейтинг'].each do |column_name| %>
            <th><%= column_name %></th>
          <% end %>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="user in rating1">
          <% ['{{ $index + 1 }}', '{{ user.name }}', "{{ user.#{rating} }}"].each do |value| %>
            <td><%= value %></td>
          <% end %>
        </tr>
    </tbody>
</table>