<!-- Rating Section -->
<section id="rating" class="rating-section">
  <div class="container d-flex justify-content-center" ng-controller="RatingsController" ng-init="isLoading1 = false; isLoading2 = false;">
    <div class="col-12">
      <h1>Rating Tables</h1>
      Top <%= Settings.n %> developers:
      <br><br>
      <div class="row">
        <div class="col-6">
          <h5>followers + all watchers.</h5></br>
          <%= render 'rating_section_table', :rating => "rating1" %>
        </div>

        <div class="col-6">
          <h5>forks + repositories.</h5></br>
          <%= render 'rating_section_table', :rating => "rating2" %>
        </div>
      </div>

      <%= link_to "Request Statuses", '#status', class: "btn btn-large btn-primary" %>
      <button ng-click="refresh()" class="btn btn-large btn-primary">{{(isLoading1 || isLoading2) ? 'Loading...' : 'Refresh'}}</button>
    </div>
  </div>
</section>