<!-- Status Section -->
<section id="status" class="status-section">
  <div class="container" ng-controller="StatusesController" ng-init="isLoading = false">
    <h1>Statuses</h1>
    Список пользователей, по которым в данный момент собираются метрики:</br></br>
    <div class="row">
      <div class="span10 offset1">
        <div>
          <table class="table status-table">
            <thead>
              <tr>
                <% ['ID', 'Requested At', 'User Name', 'Status'].each do |column_name| %>
                  <th><%= column_name %></th>
                <% end %>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="status in statuses">
                <% ['{{ status.id }}', '{{ status.created_at }}', '{{ status.name }}', '{{ status.status }}'].each do |value| %>
                  <td><%= value %></td>
                <% end %>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <%= link_to "Go To Ranking Tables", '#rating', class: "btn btn-large btn-primary" %>
    <button ng-click="refresh()" class="btn btn-large btn-primary">{{isLoading ? 'Loading...' : 'Refresh'}}</button>
  </div>
</section>