@import "bootstrap";

/* mixins */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin section_with_background() {
  overflow: auto;
  min-height: 100%;
  padding: 10% 0;
  text-align: center;
  @include box_sizing;
}

/* universal */

html {
  width: 100%;
  height: 100%;

  overflow-y: scroll;
}

body {
  width: 100%;
  height: 100%;

  h1 {
    font-size: 3em;
    text-align: center;
    font-family: "Helvetica Neue"
  }

  p {
    font-size: 1.1em;
  }
}


/* styles */

.adduser-form
{
  input[type="text"], textarea, select {
    width: 100%;
    @include box_sizing;
  }

  input {
    height: auto !important;
  }
}

.rating-table
{
  td, th {
    text-align: center;
  }
}

.status-table
{
  td, th {
    text-align: center;
  }
}


/* sections */

.home-section {
  @include section_with_background();

  h2 {
    font-family: "Helvetica Neue";
    font-size: 1.2em;
    text-align: center;
    font-weight: normal;
    color: #cccccc;
    line-height: 1;
    margin-bottom: 30px;
    letter-spacing: -1px;
  }
}

.adduser-section {
  @include section_with_background();
}

.rating-section {
  @include section_with_background();
}

.status-section {
  @include section_with_background();
}
