<!-- Status Section -->
<section id="status" class="status-section">
  <div class="container">
    <h1>Статусы запросов</h1>
    Список пользователей, по которым в данный момент собираются метрики:</br></br>
    <div class="row">
      <div class="span10 offset1">
        <table class="table">
          <thead>
            <tr>
              <% ['№', 'Время запроса', 'Имя пользователя', 'Статус'].each do |column_name| -%>
                <th class="text-center"><%= column_name %></th>
              <% end -%>
            </tr>
          </thead>
          <tbody>
            <% @users_status.each_with_index do |user, i| %>
              <tr>
                <% [i + 1, user.created_at.in_time_zone, user.name, user.status].each do |column_name| -%>
                  <td class="text-center"><%= column_name %></td>
                <% end -%>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <%= link_to "К рейтингам!", '#rating', class: "btn btn-large btn-primary" %>
    <%= link_to "Refresh", 'javascript:history.go(0);', class: "btn btn-large btn-primary" %>
  </div>
</section>